*.pyc
__pycache__
env/
.venv/
*.log
*.sqlite3
*.mo
*.pot
*.pyo
*.pyd
*.db
*.DS_Store
*.orig
*~
.pytest_cache/
.coverage
htmlcov/
.tox/
.coverage.*
.hypothesis/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-*
*.komodoproject
.idea
